* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	outline: none;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	height: 100%;
	font-size: 14px/18px 'Times New Roman', Times, sans-serif;
	background: #fff;
}
ol, ul {list-style: none; }
a, a:hover {text-decoration: none; }
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {clear: both; }
.text-right { text-align: right;}
.text-left { text-align: left;}

.left {float: left; }
.right {float: right; }

.container {
	width: 940px;
	margin: 0 auto;
}

#header {
	padding: 20px 0;
	position: absolute;
	top: 20px;
	width: 100%;
	left: 0;
	right: 0;
}

.logo {
	float: left;
}

.nav {
	float: right;
	padding: 5px;
}
.nav li {
	float: left;
	margin-right: 40px;
}
.nav li:last-child { margin-right: 0;}
.nav a {
	text-transform: uppercase;
	font: 14px Arial, sans-serif;
	color: #fff;
}
.nav a:hover { color: #fed136;}

#home {
	height: 700px;
	padding-top: 270px;
	text-align: center;
	color: #fff;
	background: #222 url('../img/home-bg.jpg') no-repeat center bottom;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#home h3 {
	font: 40px/40px  Arial, sans-serif;
	margin-bottom: 40px;
}
#home h1 {
	font: 75px/75px Arial,sans-serif;
	text-transform: uppercase;
	margin-bottom: 40px;
}
.btn {
	background: #fed136;
	color: #fff;
	padding: 20px 30px;
	display: inline-block;
	font: bold 24px/24px  Arial, sans-serif;
	text-transform: uppercase;
	cursor: pointer;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
}
.btn:hover { 
	background: #cba72b; 
	color: #fff;	
}
.box {
	padding: 120px 0;
}

#services {
	text-align: center;
}

h2.title {
	margin-bottom: 10px;
	font:bold 40px/40px Arial, sans-serif;
	color: #222;
	text-transform: uppercase;
}

.descr {
	font-size: 16px;
	color: #777;
	margin-bottom: 10px;
}
h5.title {
	margin-bottom: 10px;
	font: bold 18px/18px Arial sans-serif;
	color: #222;
}
.services-wrap, 
.portfolio-wrap {
	padding-top: 70px; 
}
.sercives-item {
	float:left;
	width: 33.33%;
	padding:  90px 10px 0;
}
.services-item p {
	font-size: 18px;
	color: #777;
	line-height: 24px;
}

.commerch {
	background: url('../img/commerch.png') no-repeat center top;
}
.responsive {
	background: url('../img/responsive.png') no-repeat center top;
}
.security {
	background: url('../img/security.png') no-repeat center top;
}
#portfolio {
	text-align: center;
	background: #f7f7f7;
}
.portfolio-item {
	width: 31%;
	margin-right: 3.5%;
	float: left;
	margin-bottom: 50px;
	background: #fff;
}
.portfolio-item:nth-child(3n) {
	margin-right: 0;
}
.p-item-footer {
	padding: 25px 20px;
}
.p-item-footer h5.title {
	margin-bottom: 4px;
}
.portfolio-item:nth-last-child(1),
.portfolio-item:nth-last-child(2),
.portfolio-item:nth-last-child(3) {
	margin-bottom: 0;
}

#about {
	text-align: center;
}
.about-text {
	width: 35%;
}
.about-img {
	width: 30%;
}
.about-img:after {
	content: '';
	display: block;
	margin: 0 auto;
	height: 94px;
	width: 3px;
	background: #f1f1f1;
}
.about-img img, .about-link {
	width: 177px;
	height: 177px;
	border: 7px solid #f1f1f1;
	display: inline-block;

	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}
.about-text h5 {
	line-height: 24px;
}
.about-text p {
	font-size: 16px;
	color: #777;
	line-height: 24px;
}
.about-text h5 span {
	text-transform: uppercase;
}
.about-link	 {
	background: #fed136;
	padding-top: 40px;
	font: bold 18px/30px Arial, sans-serif;
	text-transform: uppercase;
	color: #fff;

	text-shadow: 0 1px rgba(0,0,0,.3);
}

#team { text-align: center;}
.team-info { margin-top: 45px	}
.team-item {
	float: left;
	width: 33.33%;
	padding: 0 10px;
}
.team-img img {
	margin-bottom: 15px;
	border: 7px solid #fff;

	webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}
.cat {
	font: 14px/14px Arial, sans-serif;
	color: #777;
}
.social {
	margin-top: 10px;
}
.social a {
	display: inline-block;
	width: 40px;
	height: 40px;
	margin-right: 0 3px;
	border: 3px solid #222;
	background: url('../img/social-sprite.png') no-repeat;

	webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}
.social a.black {
	background-color: #222;
}
.social a.ic-tw {	background-position : 0 0;	}
.social a.ic-tw:hover {
	background-position: 0 -40px;
	background-color: #00aced;
	border-color: #00aced;
}
.social a.ic-tw.black {
	background-position: 0 -40px;
}
.social a.ic-fb {	background-position: -40px 0; }
.social a.ic-fb:hover {
	background-position: -40px -40px;
	background-color: #3b5998;
	border-color: #3b5998;
}
.social a.ic-fb.black {
	background-position: -40px -40px;
}

.social a.ic-pn {	background-position: -80px 0; }
.social a.ic-pn:hover {
	background-position: -80px -40px;
	background-color: #cb2028;
	border-color: #cb2028;
}
.social a.ic-pn.black {
	background-position: -80px -40px;
}
.social a.ic-gl {	background-position: -120px 0; }
.social a.ic-gl:hover {
	background-position: -120px -40px;
	background-color: #da2713;
	border-color: #da2713;
}
.social a.ic-gl.black {
	background-position: -120px -40px;
}

#brand {
	padding: 60px 0;
	text-align: center;
}
#brand a {
	display: inline-block;
	margin-right: 40px;
}
#brand a:last-child { margin-right: 0; }
#brand img { vertical-align: middle; }

#contact {
	text-align: center;
	background:#222 url('../img/maps.png') no-repeat right bottom;
}
#contact h2.title { color: #fff; }

#messege .left,
#messege .right { width: 48%;}

#messege input[type="text"],
#messege textarea {
	width: 100%;
	font: 14px/14px Arial, sans-serif;
	color: #222;
	padding: 15px 20px;
	margin-bottom: 30px;
	background: #fff;
	box-shadow: none;


	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
}
#messege input[type="text"] {
	height: 50px;
	border: 1px solid #ccc;
}
#messege textarea {
	border: none;
	height: 210px;
	resize: none;
}

::-webkit-input-placeholder {
	font: 14px/14px Arial, sans-serif;
	color: #bbb;
	text-transform: uppercase;
}
::-moz-placeholder {
	font: 14px/14px Arial, sans-serif;
	color: #bbb;
	text-transform: uppercase;
}

#messege { padding-top: 70px; }

#copyright {
	padding: 25px 0;
}
#copyright p {
	font: 14px/14px Arial, sans-serif;
	margin-top: 13px;
	color: #555;
}
#copyright .social {
	margin-top: 0;
	margin-left: 365px;
}